* {
    padding: 0;
    margin: 0;
}

#battleship {
    display: flex;
}

.square {
    height: 40px;
    width: 40px;
    border: 1px solid black;
}

.ship {
    background-color: grey;
}

.container {
    margin: 0 auto;
}

.button-ship {
    display: flex;
    width: 10%;
    flex-direction: column;
    position: fixed;
    top: 20%;
    right: 10%;
}